// Specific CSS for your home-page

.description-text {
  position: relative;
}

.scroll-down {
  height: 65px;
  width: 37px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  bottom: 637px;
  border-radius: 50px;
  cursor: pointer;
  background: rgba(174, 217, 229, .5)
}

.scroll-down::before,
.scroll-down::after{
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid black;
  height: 15px;
  width: 15px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after{
  top: 30%;
  animation-delay: .3s;
}

@keyframes scroll-down{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    top: 90%;
  }
}
