<h1>This is the users page</h1>

Go to the index page

<div class="container">
  <h3>My bookings:</h3>
  <div class="cards">
      <% @bookings.each do |booking| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
          <%= booking.shoe_id %>
        </div>
      <% end %>
  </div>
</div>


My listings



<%= link_to "<- home", root_path%>
