<div class='landing-cards-container'>
  <div class='landing-card'>
    <div class='content-container-h'>
      <h3 class='card-title'>FIND!</h3>
    </div>
    <div class='content-container-p'>
      <p class='card-content'>Find the FootWhere to suit your occasion</p>
    </div>
  </div>
  <div class='landing-card'>
    <div class='content-container-h'>
      <h3 class='card-title'>BOOK!</h3>
    </div>
    <div class='content-container-p'>
      <p class='card-content'>Book them on the dates you need</p>
    </div>
  </div>
  <div class='landing-card'>
    <div class='content-container-h'>
      <h3 class='card-title'>WHERE!</h3>
    </div>
    <div class='content-container-p'>
      <p class='card-content'>Look and perform like a champion!</p>
    </div>
  </div>
</div>
