<%# <div class='landing-cards-container'>
  <div class='landing-card'>
    <div class='content-container-h'>
      <h3 class='card-title'>FIND!</h3>
    </div>
    <div class='content-container-p'>
      <p class='card-content'>Find the FootWhere to suit your occasion</p>
    </div>
  </div>
  <div class='landing-card'>
      <%= image_tag("https://www.nicepng.com/png/detail/301-3012795_find-on-our-magnifying-glass-computer-icon-png.png") %>
    <%# <div class='content-container-h'>
      <h3 class='card-title'>BOOK!</h3>
    </div>
    <div class='content-container-p'>
      <p class='card-content'>Book them on the dates you need</p>
    </div>
  </div>
  <div class='landing-card'>
    <div class='content-container-h'>
      <h3 class='card-title'>WHERE!</h3>
    </div>
    <div class='content-container-p'>
      <p class='card-content'>Look and perform like a champion!</p>
    </div>
  </div>
</div> %>



<div class="cards">

      <div class="card find-card">
        <i class="fas fa-search"></i>
        <h4>FIND!</h4>
        <p>Find the FootWhere to suit your occasion.</p>
      </div>

      <div class="arrow">
        <i class="fas fa-arrow-right"></i>
      </div>

      <div class="card">
        <%= image_tag("https://media.istockphoto.com/vectors/black-vector-simple-editable-laptop-notebook-computer-icon-isolated-vector-id1033902932?k=20&m=1033902932&s=170667a&w=0&h=yqCOv_hKGDt1zf8MCVWdaM4RRcd12fKEGQpBBiZIb4I=") %>
        <h4>BOOK!</h4>
        <p>Book them on the dates you need</p>
      </div>

      <div class="arrow">
        <i class="fas fa-arrow-right"></i>
      </div>

      <div class="card">
        <%= image_tag("https://us.123rf.com/450wm/yupiramos/yupiramos1706/yupiramos170625557/80759637-tennis-shoe-isolated-icon-vector-illustration-design.jpg?ver=6") %>
        <h4>WHERE!</h4>
        <p>Look and perform like a champion!</p>
      </div>

    </div>
