<div class='landing-cards-container'>
  <div class='landing-card'>
    <div class='content-container-h'>
      <h3 class='card-title'>placeholder-text</h3>
    </div>
    <div class='content-container-p'>
      <p class='card-content'>more text</p>
    </div>
  </div>
  <div class='landing-card'>
    <div class='content-container-h'>
      <h3 class='card-title'>placeholder-text</h3>
    </div>
    <div class='content-container-p'>
      <p class='card-content'>more text</p>
    </div>
  </div>
  <div class='landing-card'>
    <div class='content-container-h'>
      <h3 class='card-title'>placeholder-text</h3>
    </div>
    <div class='content-container-p'>
      <p class='card-content'>more text</p>
    </div>
  </div>
</div>
