<div class='footer'>
  <ul class='footer-icons'>
    <li><i class="fab fa-facebook-square footer-icon"></i></li>
    <li><i class="fab fa-instagram-square footer-icon"></i></li>
    <li class='footer-footwhere'><%= link_to image_tag("PngItem_2089119.png", size:"50x50", class: "footer-image"), root_path %></li>
    <li><i class="fab fa-whatsapp-square"></i></li>
    <li><i class="fab fa-github-square"></i></li>
  </ul>
</div>
