<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5efca684531e1500073c686a%2FRunning-Shoes-On-Running%2F960x0.jpg%3Ffit%3Dscale);">
  <div class="container banner-text">
    <h1>FootWhere?</h1>
    <p class="description-text">Get the perfect pair for that one off occasion or share yours with the world!</p>
    <p class="btn btn-flat"><%= link_to "See All Shoes", shoes_path %> </p>
    <a href="#how">
      <div class="scroll-down"></div>
    </a>
  </div>
</div>

<%= render 'card_div'%>
