// .landing-card {
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
//   flex-direction: column;
//   width: 300px;
//   height: 300px;
//   background-color: rgba(245, 255, 255, 1);
//   color: black;
//   box-shadow: 0px 0px 5px 5px rgba(20, 20, 20, 0.1);
// }


// .landing-cards-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
//   height: 600px;
//   margin: 0 auto;
//   padding-bottom: 130px;
// }

// .content-container-h {
//   display: flex;
//   align-items: center;
//   flex-grow: 2;
//   margin-top: 50px
// }

// .content-container-p {
//   display: flex;
//   align-items: center;
//   flex-grow: 1;
// }

// .card-title {
//   vertical-align: middle;

// }

.cards {
  display: flex;
  justify-content: space-between;
  margin-left: 20vh;
  margin-right: 20vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#card-outershadow {
  box-shadow: 0 0 5px rgb(153, 153, 153);
  border-radius: 10px;
}


.card {
  box-shadow: 0 0 7px rgb(128, 211, 250) inset;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  border: 1px
  solid rgb(128, 211, 250);
  // box-shadow: 5px 10px 20px red inset;
}

.card img {
  height: 150px;
  width: 162px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card i {
  font-size: 118px;
  padding-bottom: 32px;
}

.arrow {
  font-size: 75px;
  margin-top: 95px;
  color: #31a2cf ;
  text-shadow: 0 0 5px #696969, 0 0 5px #ffffff;
}
