// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.flash {
  margin: 0;
  padding: 6px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  border: 2px solid #1EDD88;
}

.flash p {
  margin-top: 12px;
}

.flash i {
  padding-left: 10px;
}


body {
  // height: auto;
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
  // padding: 130px;
}

.content {
  min-height: calc(100vh - 222px);
}

html {
  scroll-behavior: smooth;
}
